<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442910998609-3f0k2b2kn2kghfpvl88i3i2eitkg7mt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442910998609-3f0k2b2kn2kghfpvl88i3i2eitkg7mt9</string>
	<key>API_KEY</key>
	<string>AIzaSyAiopdDn9ZjfI3MdgpLzI99cA0_NPn1Asg</string>
	<key>GCM_SENDER_ID</key>
	<string>442910998609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oobalink.homeloanapp</string>
	<key>PROJECT_ID</key>
	<string>homeloanapp-5beba</string>
	<key>STORAGE_BUCKET</key>
	<string>homeloanapp-5beba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:442910998609:ios:e0c95d777cf00b34e0b870</string>
</dict>
</plist>
